{% block title %} Worker {% endblock %}

{% block body %}
    <div>{{worker.firsname}}</div>
    <div>{{worker.lastname}}</div>
    <div>{{worker.gender}}</div>
    <div>{{worker.age|date('d-m-Y')}}</div>
{% endblock %}